<div role="tabpanel" class="tab-pane active" id="<%= type %>">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Hora</th>
					<% if (withType) { %>
						<th>Tipo de evento</th>
					<% } %>
					<th>Evento</th>
					<th>Cantidad</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<% for (var j=0; j<eventList.length; j++){ %>
					<%- include('babyEvent',{withType: withType, event: eventList[j]}); -%>
				<% } %>
			</tbody>
		</table>
	</div>
</div>