<h1>Últimas comidas</h1>
<% for(var i=0; i<babies.length; i++) {%>
	<% if(babies[i].getLastFood()) { %>
		<h4>
			<%= babies[i].getLastFood().name %>: <%= babies[i].getLastFood().date %>
		</h4>
	<% } %>
<% } %>