div.selector{
	background-color: light-grey;
	border-radius: 5px;
	border: 3px solid grey;
	width: 100px;
	height: 100px;
	display: none;
	float: left;
	margin-right: 10px;
	line-height: 100px;
	vertical-align:middle;
	text-align:center;
	cursor: pointer;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.selector:hover{
	background-color: #428bca;
	color: white;
}

div.selector.selected{
	background-color: #5cb85c;
	color: white;
}

.hidden{
	display:none;
}

div.group-selector{
	margin-top: 25px;
}

div.clearer{
	clear: both;
}

div.chart{
	width:550px;
	height:300px;
	float: left;
}

div.plus-button{
	background-color: #5cb85c;
	border:2px solid white;
	color: white;
	width:40px;
	height:40px;
	line-height:30px;
	border-radius:20px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:24px;
	cursor:pointer;
	float:left;
}

div.plus-button:hover{
	border:2px solid white;
	color: white;
	background-color: #428bca;
}

div.minus-button{
	background-color: red;
	border:2px solid white;
	color: white;
	width:40px;
	height:40px;
	line-height:30px;
	border-radius:20px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	font-size:24px;
	cursor:pointer;
	float:left;
}

div.minus-button:hover{
	border:2px solid white;
	color: white;
	background-color: #428bca;
}

div.mobile-buttons{
	display:none;
	float:right;
	margin-right:20px;
}

@media(max-width:768px) {
	div.mobile-buttons{
		display:block;
		float:right;
		margin-right:20px;
	}
}