<!doctype html>
<html>
<head>
    <title>Baby list</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/js/moment/min/moment.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/js/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  	<link rel="stylesheet" href="/js/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
		<% include ../partials/topMenu %>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Add a baby</h3>
			</div>
			<div class="panel-body">
				<form action="/babies/add" method="POST">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Name</span>
							<input type="text" class="form-control" aria-describedby="name" required name="name" />
						</div>
					</div>
					<div class="form-group">
							<div class='input-group date' id='datetimepicker'>
									<span class="input-group-addon">Birthdate</span>
									<input type='text' class="form-control" />
							</div>
					</div>
					
					<button type="submit" class="btn btn-success btn-lg">Add</button>
				</form>
			</div>
		</div>
		
</div>
<script type="text/javascript">
		$(function () {
				$('#datetimepicker').datetimepicker({format: 'YYYY/MM/DD', allowInputToggle: true, widgetPositioning: {horizontal: 'right', vertical: 'auto'}});
		});
</script>
</body>
</html>