<!doctype html>
<html>
<head>
    <title>Baby list</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/js/baby-diary.js"></script>
		<link rel="stylesheet" href="/css/baby-diary.css"></link>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
		<% include ../partials/topMenu %>
		
		<div id="addEventContainer">
			<div class="jumbotron startEventCreation" style="border:4px dashed darkgrey;">
				<h1 style="text-align: center;"><a id="addEvent" style="text-decoration: none; color: black;" href="#">+ Add event</a></h1>
				<div class="group-selector">
					<div class="selector food-box" data-field="eventType" data-type="food">Food</div>
					<div class="selector diaper-box" data-field="eventType" data-type="diaper">Diaper</div>
				</div>
				<div class="group-selector food">
					<div class="selector boob-box" data-field="eventClass" data-type="boob">Boob</div>
					<div class="selector bottle-box" data-field="eventClass" data-type="bottle">Bottle</div>
				</div>
				<div class="group-selector diaper">
					<div class="selector pee-box" data-field="eventClass" data-type="pee">Pee</div>
					<div class="selector poo-box" data-field="eventClass" data-type="poo">Poo</div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<form name="addEvent" method="post">
				<input type="hidden" name="eventType"/>
				<input type="hidden" name="eventClass"/>
				<input type="hidden" name="eventAmount"/>
			</form>
		</div>
</div>
</body>
</html>