<!doctype html>
<html>
<head>
    <title>Lista de bebés</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/js/baby-diary.js"></script>
		<script src="/js/bootstrap-slider.js"></script>
		<script type="text/javascript" src="/js/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="/js/moment/locale/es.js"></script>
		<script src="/js/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  	<link rel="stylesheet" href="/js/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="/css/baby-diary.css"></link>
		<link rel="stylesheet" href="/css/bootstrap-slider.css"></link>
		
		<script type="text/javascript" src="/js/d3.min.js""></script>
		<script type="text/javascript" src="/js/nv.d3.min.js""></script>
		<link rel="stylesheet" href="/css/nv.d3.css"></link>
    <style>
        body        { padding-top:80px; }
				
				.discreteBar {
					fill: steelblue;
				}
				
				.bar:hover {
					fill: brown;
				}
				
				.axis {
					font: 10px sans-serif;
				}
				
				.axis path,
				.axis line {
					fill: none;
					stroke: #000;
					shape-rendering: crispEdges;
				}
				
				.x.axis path {
					display: none;
				}
    </style>
</head>
<body>
<div class="container">
	<% include ../partials/topMenu %>
	<% if (messages.info) { %>
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= messages.info %>
		</div>
	<% } %>
	<% if (messages.error) { %>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= messages.error %>
		</div>
	<% } %>
	
	<%- include('../partials/eventSelector', {baby: null}); -%>
		
	<% for(var i=0; i<babies.length; i++) {%>
		<div class="chart">
			<h3 class="chart-title"></h3>
			<%- include('../partials/loading'); -%>
		</div>
	<% } %>
	<div class="clearer"></div>
</div>
<script>
	$(function(){
		var result = $.get('/babies/getAggregatedData');

		result.success(function(data){
			$('.chart svg').html('').attr('style','');
			$(data).each(function(i,graph){
				var datum = [graph];
				var elem = $(".chart h3.chart-title")[i]; 
				$(elem).text(graph.key);
				
				nv.addGraph(function() {
					var chart = nv.models.discreteBarChart()
							.x(function(d) { return d.label })    //Specify the data accessors.
							.y(function(d) { return d.value })
							.staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
							.tooltips(false)        //Don't show tooltips
							.showValues(false)       //...instead, show the bar value right on top of each bar.
							;

					d3.select(d3.selectAll('.chart svg')[0][i])
							.datum(datum)
							.call(chart);
				
					nv.utils.windowResize(chart.update);
				
					return chart;
				});
			});
		});
	});
</script>
</body>
</html>