<!doctype html>
<html>
<head>
    <title>Lista de bebés</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="/js/baby-diary.js"></script>
		<script src="/js/bootstrap-slider.js"></script>
		<script type="text/javascript" src="/js/moment/min/moment.min.js"></script>
		<script type="text/javascript" src="/js/moment/locale/es.js"></script>
		<script src="/js/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  	<link rel="stylesheet" href="/js/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="/css/baby-diary.css"></link>
		<link rel="stylesheet" href="/css/bootstrap-slider.css"></link>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
	<% include ../partials/topMenu %>
	
	<% if (messages.info) { %>
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= messages.info %>
		</div>
	<% } %>
	<% if (messages.error) { %>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= messages.error %>
		</div>
	<% } %>
	
	<%- include('../partials/eventSelector', {baby: null}); -%>
		
</div>
</body>
</html>